@import url(Fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/*padding: top rightandleft bottom;*/
/*PC & big tablets*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-theader div navrrack {background: #f1f1f1;}
::-webkit-scrollbar-thumb {background: #888;}
::-webkit-scrollbar-thumb:hover {background: #555;}
  
body{
    background-color: white;
    padding-bottom: 1500px;
}

header div h2{
    grid-area: brandmark;
    color: rgb(255, 0, 102);
    padding: 20px 10px;
    width: 60%;
    font-family: "Basketball", "san-serif";
    font-size: 3em;
    transition: .7s ease;
}header div h2 span{color: rgb(255, 0, 0);}

header div nav{
    grid-area: navbar;
    text-align: right;
    padding: 20px 15px;
    font-size: 2.3em;
    transition: .7s ease;
}
header div nav a{
    text-decoration: none;
    font-family: "Basketball", "san-serif";
    text-transform: uppercase;
    color: rgb(27, 26, 26);
    padding-left: 10px;
    transition: .7s ease;
}
header div nav a:hover{
    color: rgb(115, 115, 115);
}

header div{
    display: grid;
    width: 100%;
    min-height: 80px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    grid-template-areas: "brandmark navbar";
    z-index: 50000;
}

.mainSecIMG{
    width: 100%;
    height: 60vh;
    background-image: url(mainsectionTabletPC.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    filter: drop-shadow(0 5px 1rem gray);
}
.card{
    max-width: 500px;
    min-height: 500px;
    background-color: white;
    border-radius: 15px;
    transition: .4s ease;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    font-size: 1.5em;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    filter: drop-shadow(0 5px 1.4rem gray);
    line-height: 150%;
    overflow:hidden;
} .card span{font-size: 2em; background: linear-gradient(0deg, rgba(255,102,0,1) 0%, rgba(255,83,73,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}

.container{display: grid;}
.flexbox{display: flex;}

.card i{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    background: linear-gradient(0deg, rgba(255,102,0,1) 0%, rgba(255,83,73,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

.one{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.title{
    font-size: 4.8rem;
    color: orangered;
    font-family: "Basketball", "san-serif";
    margin: 60px 0px;
    display: flex;
    justify-content: center;
    z-index: 5000;
}
#portfolio h2{background-color: rgb(40, 40, 40);}
.two{
    margin-top: -60px;
    width: 100%;
    padding-bottom: 25px;
    background-color: rgb(40, 40, 40);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.projectbox{
    max-width: 550px;
    min-height: 450px;
    background-color: aliceblue;
    text-align: center;
    margin-right: 20px;
    margin-top: 25px;
    border-radius: 15px;
    font-size: 1.5em;
    line-height: 150%;
    font-family: 'Montserrat', sans-serif;
    transition: .4s ease;
} .projectbox span{font-size: 2em; background: linear-gradient(0deg, rgba(255,102,0,1) 0%, rgba(255,83,73,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.projectbox iframe, img{
    width: 100%;
    height: 100%;
    margin-top: 5px;
    border-radius: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 425px) { /*Mobiles*/
    .mainSecIMG{background-image: url(mainsectionMobile.png);}
    header div{max-height: 90px;}
    header div nav{font-size: 1.2em;}
    .projectbox{margin-right: 0px;}
}
@media only screen and (min-width: 768px) { /*Tablets*/ }

@media only screen and (min-width: 1000px) {.card:hover{transform: scale(1.05);} .projectbox:hover{transform: scale(1.02);}}